<app-admin-logged-in-page></app-admin-logged-in-page>

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3">

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="label-control">Enter Employee ID</label>
                    <input name="empId" [(ngModel)]="empId" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button (click)="GrantLeavesForEmployee()" class="btn btn-success">Grant Leave for this year</button>
                </div>

            </div>
        </div>
    </div>
</div>