<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Nest Digital App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" >Security Guard Page</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/securityGuardProfile">View My Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Log Employee Entry</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Log Employee Exit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Log Visitor Entry</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Log Visitor Exit</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Log Visitor Exit</a>
          </li> -->

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/securityGuardLogin">Logout</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" >Logged Security Guard ID: {{sgID}}</a>
          </li> 
          <!-- <li class="nav-item">
            <a class="nav-link disabled">Logged Employee ID:</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>