<app-admin-logged-in-page></app-admin-logged-in-page>

<h1 style="text-align: center;">Search Employee</h1>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="label-control">Employee code</label>
                    <input name="empCode" [(ngModel)]="empCode" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button (click)="EmployeeSearch()" class="btn btn-success">Search</button>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <div class="row g-3">
                        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                            <label for="" class="label-control">Employee ID</label>
                            <input type="text" class="form-control" value="{{searchData[0].id}}">
                        </div>
                        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                            <label for="" class="label-control">Name</label>
                            <input type="text" class="form-control" value="{{searchData[0].name}}">
                        </div>
                        
                        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                            <label for="" class="label-control">Designation</label>
                            <input type="text" class="form-control" value="{{searchData[0].designation}}">
                        </div>
                        
                        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                            <label for="" class="label-control">Salary</label>
                            <input type="text" class="form-control" value="{{searchData[0].salary}}">
                        </div>
                        
                        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                            <label for="" class="label-control">Phone No</label>
                            <input type="text" class="form-control" value="{{searchData[0].phoneNo}}">
                        </div>
                       
                        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                            <label for="" class="label-control">Email ID</label>
                            <input type="text" class="form-control" value="{{searchData[0].emailId}}">
                        </div>
                        
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
